{% extends 'base.html.twig' %}

{% block titrePage %}
{% if action == "ajouter" %}
<h1>Ajout d'une entreprise</h1>
{% else %}
<h1>Modification d'une entreprise</h1>
{% endif %}
{% endblock %}

{% block contenuPage %}
<p>Saisir les caractéristiques de l'entreprise que vous souhaitez partager.<br></p>

{{ form_start(vueFormulaireEntreprise) }}
  <div> <!-- Affichage du champ de saisie du nom de l'entreprise -->
    {{ form_row(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie de l'adresse de l'entreprise -->
    {{ form_row(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie du site de l'entreprise -->
    {{ form_row(vueFormulaireEntreprise.site, {'attr':{'placeholder':"Site de l'entreprise..."}}) }}
  </div><br>
  <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
{{ form_end(vueFormulaireEntreprise) }}
{% endblock %}
