{% extends 'base.html.twig' %}

{% block titrePage %}
<h1>Ajout d'une entreprise</h1>
{% endblock %}

{% block contenuPage %}
<p>Saisir les caractéristiques de l'entreprise que vous souhaitez partager.<br></p>

{{ form_start(vueFormulaireEntreprise) }}
  <div> <!-- Affichage du champ de saisie du nom de l'entreprise -->
    {{ form_label(vueFormulaireEntreprise.nom) }}
    {{ form_errors(vueFormulaireEntreprise.nom) }}
    {{ form_widget(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie de l'adresse de l'entreprise -->
    {{ form_label(vueFormulaireEntreprise.adresse) }}
    {{ form_errors(vueFormulaireEntreprise.adresse) }}
    {{ form_widget(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie du site de l'entreprise -->
    {{ form_label(vueFormulaireEntreprise.site) }}
    {{ form_errors(vueFormulaireEntreprise.site) }}
    {{ form_widget(vueFormulaireEntreprise.site, {'attr':{'placeholder':"Site de l'entreprise..."}}) }}
  </div>
{{ form_end(vueFormulaireEntreprise) }}
{% endblock %}
