{% extends 'base.html.twig' %}

{% block titrePage %}
{% if action == "ajouter" %}
<h1>Ajout d'un stage</h1>
{% else %}
<h1>Modification d'un stage</h1>
{% endif %}
{% endblock %}

{% block contenuPage %}
<p>Saisir les caractéristiques du stage que vous souhaitez partager.<br></p>

{{ form_start(vueFormulaireStage) }}
  <div> <!-- Affichage du champ de saisie du titre du stage -->
    {{ form_row(vueFormulaireStage.titre, {'attr':{'placeholder':"Titre du stage..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie de la description du stage -->
    {{ form_row(vueFormulaireStage.description, {'attr':{'placeholder':"Description du stage..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie de l'activite du stage -->
    {{ form_row(vueFormulaireStage.activite, {'attr':{'placeholder':"Activité du stage..."}}) }}
  </div><br>
  <p>Entreprise proposant ce stage</p>
  <div> <!-- Affichage du formulaire pour ajouter une entreprise -->
    {{ form_row(vueFormulaireStage.entreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}}) }}
    {{ form_row(vueFormulaireStage.entreprise.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}}) }}
    {{ form_row(vueFormulaireStage.entreprise.site, {'attr':{'placeholder':"Site de l'entreprise..."}}) }}
  </div><br>
  <div> <!-- Affichage du champ de saisie d'un ou plusieurs formations -->
    {{ form_row(vueFormulaireStage.formations) }}
  </div><br>
  <button type="submit" class="btn btn-dark">Enregistrer</button>
{{ form_end(vueFormulaireStage) }}
{% endblock %}
