{% extends 'base.html.twig' %}

{% block titrePage %}
<h1>Entreprises</h1>
{% endblock %}

{% block contenuPage %}
{% set debutNouvelleLigne = true %}

{% for entrepriseCourante in entreprises %}
{% if debutNouvelleLigne == true %}
  <div class="card-deck">
    {% set debutNouvelleLigne = false %}
  {% endif %}
  <div class="card">
    <a href="{{path('pro_stage_stagesEntreprise', {nom:entrepriseCourante.nom})}}">
      <img src="{{asset('/images/entreprise.jpg')}}" class="card-img-top">
    </a>
    <div class="card-body">
      <h5 class="card-title"><strong>{{entrepriseCourante.nom}}</strong></h5>
      <p class="card-text">{{entrepriseCourante.adresse}}</p>
      <p class="card-text">
        <small class="text-muted"><a href="{{entrepriseCourante.site}}">{{entrepriseCourante.site}}</a></small>
      </p>
      <a class="card-link" href="{{path('pro_stage_modifEntreprise',{'id':entrepriseCourante.id})}}">Modifier</a>
    </div>
  </div>
  {% if loop.index % 3 == 0 %}
  </div>
  <br />
  {% endif %}
  {% endfor %}
{% endblock %}
