{% extends 'base.html.twig' %}

{% block titrePage %}
<h1>Nom du formation : <strong>{{formation.nom}}</strong></h1>
{% endblock %}

{% block contenuPage %}
  {% set debutNouvelleLigne = true %}
  {% for stagesFormationCourante in stagesFormation %}
    {% if debutNouvelleLigne == true %}
      <div class="card-deck">
      {% set debutNouvelleLigne = false %}
    {% endif %}
    <div class="card">
      <a href="{{path('pro_stage_stage', {id:stagesFormationCourante.id})}}">
        <img src="{{asset('/images/stage.jpg')}}" class="card-img-top">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{stagesFormationCourante.titre}} - <strong>{{stagesFormationCourante.entreprise.nom}}</strong></h5>
        <p class="card-text">{{stagesFormationCourante.description}}</p>
        <p class="card-text">
          <small class="text-muted">Déposé le {{stagesFormationCourante.dateDepot | date("d/m/Y")}}</small>
        </p>
      </div>
    </div>
    {% if loop.index % 3 == 0 %}
    </div>
    <br />
    {% endif %}
  {% endfor %}
{% endblock %}
